<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/creatorPassportIcon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/djz3fym.css">
    <link rel="stylesheet" href="assets/CSS/library.css">
    <link rel="stylesheet" href="assets/CSS/course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body style="background-color: #36454F;">
    <div>
        <input class="likedVideoList" style="display: none;" value="<%= likedVideos %>" />
        <input id="_1_1" class="resumeVideo" style="display: none;" value="<%= _1_1 %>" />
        <input id="_1_2" class="resumeVideo" style="display: none;" value="<%= _1_2 %>" />
        <input id="_1_3" class="resumeVideo" style="display: none;" value="<%= _1_3 %>" />
        <input id="_1_4" class="resumeVideo" style="display: none;" value="<%= _1_4 %>" />
        <input id="_1_5" class="resumeVideo" style="display: none;" value="<%= _1_5 %>" />
        <input id="_1_6" class="resumeVideo" style="display: none;" value="<%= _1_6 %>" />
        <input id="_1_7" class="resumeVideo" style="display: none;" value="<%= _1_7 %>" />
        <input id="_1_8" class="resumeVideo" style="display: none;" value="<%= _1_8 %>" />
        <input id="_1_9" class="resumeVideo" style="display: none;" value="<%= _1_9 %>" />
        <input id="_1_10" class="resumeVideo" style="display: none;" value="<%= _1_10 %>" />
        <input id="_1_11" class="resumeVideo" style="display: none;" value="<%= _1_11 %>" />
        <input id="_1_12" class="resumeVideo" style="display: none;" value="<%= _1_12 %>" />
        <input id="_1_13" class="resumeVideo" style="display: none;" value="<%= _1_13 %>" />
        <input id="_1_14" class="resumeVideo" style="display: none;" value="<%= _1_14 %>" />
        <input id="_1_15" class="resumeVideo" style="display: none;" value="<%= _1_15 %>" />
        <input id="_1_16" class="resumeVideo" style="display: none;" value="<%= _1_16 %>" />
        <input id="_2_1" class="resumeVideo" style="display: none;" value="<%= _2_1 %>" />
        <input id="_2_2" class="resumeVideo" style="display: none;" value="<%= _2_2 %>" />
        <input id="_2_3" class="resumeVideo" style="display: none;" value="<%= _2_3 %>" />
        <input id="_2_4" class="resumeVideo" style="display: none;" value="<%= _2_4 %>" />
        <input id="_2_5" class="resumeVideo" style="display: none;" value="<%= _2_5 %>" />
        <input id="_2_6" class="resumeVideo" style="display: none;" value="<%= _2_6 %>" />
        <input id="_2_7" class="resumeVideo" style="display: none;" value="<%= _2_7 %>" />
        <input id="_2_8" class="resumeVideo" style="display: none;" value="<%= _2_8 %>" />
        <input id="_2_9" class="resumeVideo" style="display: none;" value="<%= _2_9 %>" />
        <input id="_2_10" class="resumeVideo" style="display: none;" value="<%= _2_10 %>" />
        <input id="_2_11" class="resumeVideo" style="display: none;" value="<%= _2_11 %>" />
        <input id="_3_1" class="resumeVideo" style="display: none;" value="<%= _3_1 %>" />
        <input id="_3_2" class="resumeVideo" style="display: none;" value="<%= _3_2 %>" />
        <input id="_3_3" class="resumeVideo" style="display: none;" value="<%= _3_3 %>" />
        <input id="_3_4" class="resumeVideo" style="display: none;" value="<%= _3_4 %>" />
        <input id="_3_5" class="resumeVideo" style="display: none;" value="<%= _3_5 %>" />
        <input id="_3_6" class="resumeVideo" style="display: none;" value="<%= _3_6 %>" />
        <input id="_3_7" class="resumeVideo" style="display: none;" value="<%= _3_7 %>" />
        <input id="_3_8" class="resumeVideo" style="display: none;" value="<%= _3_8 %>" />
        <input id="_3_9" class="resumeVideo" style="display: none;" value="<%= _3_9 %>" />
        <input id="_3_10" class="resumeVideo" style="display: none;" value="<%= _3_10 %>" />
    </div>

    <!--topnav-->
    <div class="topNav" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding-left: 30px; padding-right: 30px; height: 60px;">
        <div style="display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: nowrap;">
            <div><a class="dashboard-link" style="color: #FFFFFF;" href="/">Dashboard</a></div>
            <div style="padding-left: 10px; padding-right: 10px; color: white;">/</div>
            <div><a class="dashboard-link" style="color: #FFFFFF;" href="" id="tracks">Track</a></div>
            <div style="padding-left: 10px; padding-right: 10px; color: white;">/</div>
            <div style="color: #649399; text-decoration: underline !important;">Course</div>
        </div>
        <div>
            <a href="#">
                <form action="/logout?_method=DELETE" method="POST" onsubmit="updateRememberMe();">
                    <button type="submit" style="all:unset; color: white;">Log Out</button>
                </form>
            </a>
        </div>
    </div>

    <div class="content-container container">
        <div id="videoAndSidenav">
            <!-- video -->
            <div id="video-container">
                <div style="aspect-ratio: 16/9; position: relative">
                    <div class="video-cover">
                        <div style="display: flex; flex-direction: row; justify-content: center; align-content: center; flex-wrap: wrap; height: 100%;">
                            <div id="video-ended-next" onclick="">
                                <div class="cover-font">Continue Learning <i class="fa-solid fa-chevron-right" style="color: white;"></i></div>
                                <div style="margin-top: 10px;"><img id="cover-next-lesson-image" src="" style="max-width: 250px; height: auto;" /></div>
                            </div>
                        </div>
                    </div>
                    <div id="video">
                        <!-- load in video -->
                    </div>
                </div>
            </div>
    
            <!-- sidenav -->
            <div id="sidenav-container">
                <div class="sidebarColumn">
                    <!-- load in sidenav -->
                </div>
            </div>
        </div>
    
        <!-- player nav -->
        <div id="player-nav">
            <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 15px;">
                <div style="width: 100px; height: 48px; background: #649399; display: flex; flex-direction: column; justify-content: center;">
                    <div style="margin-left: auto; margin-right: auto;">
                        <a id="back-button" style="color: white; cursor: pointer;"><i class="fa-solid fa-chevron-left"></i>  Previous</a>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: center;">
                    <div id="lesson-of"></div>
                </div>
                <div style="width: 100px; height: 48px; background: #649399; display: flex; flex-direction: column; justify-content: center;">
                    <div style="margin-left: auto; margin-right: auto;">
                        <a id="next-button" style="color: white; cursor: pointer;">Next  <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    
        <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; margin-top: 25px;">
            <div class="below-vid-content">
                <div class="copyContent">
                    <div style="width: 100%; padding: 15px; background: #E0E0E0; margin-left: auto; margin-right: auto; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                        <div class="d-flex align-items-center">
                            <img id="nextLessonImage" src="" style="width: 100px; height: auto;" />
                            <div style="display: flex; flex-direction: column; justify-content: space-between; margin-left: 15px;">
                                <div>Continue learning</div>
                                <div id="nextLessonTitle" style="font-family: 'poppins bold', sans-serif; font-size: 16px;"><!-- gets next lesson title from function --></div>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap; width: 150px;">
                            <div><button onclick="likeLesson();" class="noStyle" style="color: red;"><i class="fa-regular fa-heart" id="notLiked"></i><i class="fa-solid fa-heart" id="isLiked" style="display: none;"></i></button></div>
                            <div><a id="nextLessonLink" style="color: #649399; cursor: pointer; white-space: nowrap;">Next lesson <i class="fa-solid fa-chevron-right"></i></a></div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <h4 id="currentLessonTitle"></h4>
                        <div id="copy">
                            <!-- copy goes here -->
                        </div>
                    </div>
                </div>
                <div id="downloadContent">
                    <h4 style="font-family: 'poppins bold', sans-serif;">Resources</h4>
                    <div id="resourceList" style="display: flex; flex-direction: column;">
                        <!--downloadable resources goes here-->
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative; bottom: -10px; display: flex; flex-direction: row; justify-content: center; width: 100%;">
            <div><a href="./terms-and-conditions" style="color: #FFFFFF;">Terms and Conditions</a></div>
        </div>

        <button onclick="postState();" id="patch" style="display: none;">PATCH BUTTON</button>
    </div>
    
    
    <script type="text/javascript">
        const url = window.location.search;
        const urlParams = new URLSearchParams(url);
        const module = urlParams.get('module');
        let allVidArray = [];
        let isLiked = false;
        let returnObject = {};

        // Helps get next/previous videos when it is a last/first video of a module
        // track 1
        allVidArray1 = [
            "1-1-1","1-1-2","1-1-3","1-1-4","1-1-5","1-1-6","1-1-7","1-1-8","1-1-9","1-1-10","1-1-11","1-1-12","1-1-13","1-1-14",
            "1-2-1","1-2-2","1-2-3","1-2-4","1-2-5","1-2-6","1-2-7","1-2-8","1-2-9","1-2-10","1-2-11","1-2-12","1-2-13","1-2-14","1-2-15","1-2-16","1-2-17",
            "1-3-1","1-3-2","1-3-3","1-3-4","1-3-5","1-3-6","1-3-7","1-3-8","1-3-9","1-3-10",
            "1-4-1","1-4-2","1-4-3","1-4-4",
            "1-5-1","1-5-2","1-5-3","1-5-4","1-5-5","1-5-6",
            "1-6-1","1-6-2","1-6-3","1-6-4",
            "1-7-1","1-7-2","1-7-3","1-7-4","1-7-5","1-7-6","1-7-7","1-7-8","1-7-9","1-7-10",
            "1-8-1","1-8-2","1-8-3",
            "1-9-1","1-9-2","1-9-3","1-9-4","1-9-5","1-9-6","1-9-7","1-9-8","1-9-9","1-9-10","1-9-11","1-9-12","1-9-13","1-9-14","1-9-15","1-9-16","1-9-17","1-9-18","1-9-19","1-9-20","1-9-21","1-9-22",
            "1-10-1","1-10-2","1-10-3","1-10-4","1-10-5","1-10-6","1-10-7","1-10-8","1-10-9","1-10-10","1-10-11","1-10-12","1-10-13","1-10-14","1-10-15","1-10-16","1-10-17","1-10-18","1-10-19","1-10-20","1-10-21","1-10-22","1-10-23","1-10-24","1-10-25",
            "1-11-1","1-11-2","1-11-3","1-11-4","1-11-5","1-11-6","1-11-7","1-11-8",
            "1-12-1","1-12-2","1-12-3","1-12-4","1-12-5","1-12-6","1-12-7","1-12-8","1-12-9","1-12-10","1-12-11","1-12-12","1-12-13","1-12-14","1-12-15","1-12-16","1-12-17","1-12-18","1-12-19","1-12-20",
            "1-13-1","1-13-2","1-13-3","1-13-4","1-13-5","1-13-6","1-13-7","1-13-8","1-13-9","1-13-10","1-13-11",
            "1-14-1","1-14-2","1-14-3","1-14-4","1-14-5","1-14-6","1-14-7","1-14-8","1-14-9","1-14-10","1-14-11","1-14-12","1-14-13","1-14-14","1-14-15","1-14-16",
            "1-15-1","1-15-2","1-15-3","1-15-4","1-15-5","1-15-6",
            "1-16-1","1-16-2","1-16-3","1-16-4","1-16-5","1-16-6","1-16-7"          
        ];
        // track 2
        allVidArray2 = [
            "2-1-1","2-1-2","2-1-3","2-1-4","2-1-5","2-1-6","2-1-7","2-1-8",
            "2-2-1","2-2-2","2-2-3","2-2-4","2-2-5","2-2-6","2-2-7","2-2-8","2-2-9","2-2-10",
            "2-3-1","2-3-2","2-3-3","2-3-4","2-3-5",
            "2-4-1","2-4-2","2-4-3","2-4-4","2-4-5","2-4-6",
            "2-5-1","2-5-2","2-5-3","2-5-4",
            "2-6-1","2-6-2","2-6-3","2-6-4","2-6-5","2-6-6","2-6-7",
            "2-7-1","2-7-2",
            "2-8-1","2-8-2",
            "2-9-1","2-9-2","2-9-3","2-9-4","2-9-5","2-9-6",
            "2-10-1","2-10-2","2-10-3","2-10-4","2-10-5","2-10-6","2-10-7",
            "2-11-1","2-11-2","2-11-3","2-11-4"
        ];
        // track 3
        allVidArray3 = [
            "3-1-1","3-1-2","3-1-3","3-1-4","3-1-5","3-1-6","3-1-7","3-1-8","3-1-9",
            "3-2-1","3-2-2","3-2-3","3-2-4","3-2-5",
            "3-3-1","3-3-2","3-3-3","3-3-4",
            "3-4-1","3-4-2","3-4-3","3-4-4","3-4-5","3-4-6","3-4-7",
            "3-5-1","3-5-2","3-5-3","3-5-4",
            "3-6-1","3-6-2","3-6-3","3-6-4","3-6-5",
            "3-7-1","3-7-2","3-7-3","3-7-4","3-7-5",
            "3-8-1","3-8-2","3-8-3","3-8-4","3-8-5","3-8-6","3-8-7",
            "3-9-1","3-9-2","3-9-3","3-9-4",
            "3-10-1","3-10-2","3-10-3","3-10-4","3-10-5","3-10-6","3-10-7","3-10-8","3-10-9"
        ];
        if (Number(module.split("-")[0]) === 1)
        {
            allVidArray = allVidArray1
        }
        else if (Number(module.split("-")[0]) === 2)
        {
            allVidArray = allVidArray2
        }
        else if (Number(module.split("-")[0]) === 3)
        {
            allVidArray = allVidArray3
        }

        // styles topnav
        document.getElementById('tracks').href = `/track${module.split("-")[0]}`;
        document.getElementById('tracks').innerHTML = `Track ${module.split("-")[0]}`;

        // Gets video list from DB by URL data (Module)
        function videoList()
        {            
            $.ajax({
                type: "POST",
                url: "/videoList",
                data: module.split("-")[0] + "-" + module.split("-")[1],
                async: false,
                success: function(res)
                {  
                    returnObject.titles = res.titles;
                    returnObject.links = res.links;
                    returnObject.moduleTitle = res.moduleName;
                    returnObject.copy = res.copy;
                    returnObject.resources = res.resources;
                },
                error: function(res)
                {
                    console.log("error" + res);
                }
            });
        };
        videoList();

        // YouTube Embed API starts here
        let player;
        let tag = document.createElement("script");
        tag.src = "https://www.youtube.com/iframe_api";

        let firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        tag.onload = onYouTubeIframeAPIReady;

        function onYouTubeIframeAPIReady()
        {
            let startPoint;
            // gets the start point of the lesson
            let currentLessonData = document.getElementById(`_${module.split("-")[0]}_${module.split("-")[1]}`).value.split(",")[Number(module.split("-")[2]) - 1];

            if (currentLessonData === 0 || currentLessonData === "" || currentLessonData === "NaN_undefined_NaN")
            {
                startPoint = 0;
            }
            else
            {
                startPoint = Math.floor(Number(currentLessonData.split("_")[0]));
            }

            window.YT.ready(function()
            {
                player = new window.YT.Player('video',
                {
                    height: '100%',
                    width: '100%',
                    videoId: returnObject.links[Number(module.split("-")[2]) - 1],
                    playerVars:
                    {
                        'playsinline': 1,
                        'start': startPoint,
                        'rel': 0,
                        'showinfo': 0,
                    },
                    events:
                    {
                        'onReady': onPlayerReady,
                        'onStateChange': stateChange
                    }
                });
            });
            addToSidenav(returnObject.titles, returnObject.moduleTitle);
            pageStyling(returnObject.titles, returnObject.copy);
        }

        function onPlayerReady(event)
        {
            event.target.playVideo();
        }

        function stateChange(event)
        {
            switch(event.data)
            {
                case 0: // ended
                    // Covers the recommended videos once video ends
                    document.getElementsByClassName("video-cover")[0].style.display = "block";
                    postState();
                    break;
                case 2: // paused
                    // Updates the video state when the video is paused
                    postState();
                    break;
                default:
                    document.getElementsByClassName("video-cover")[0].style.display = "none";
                    break;
            }
        }

        function stopVideo()
        {
            // updates video progress
            document.getElementById("patch").click();
        }

        // Make Sidenav
        function addToSidenav(titles, moduleTitle)
        {
            // gets sidenav progress data
            let progressArray = document.getElementById(`_${module.split("-")[0]}_${module.split("-")[1]}`).value.split(",");
            
            for (let i = 0; i < progressArray.length; i++)
            {
                if (progressArray[i] === "" || Number(progressArray[i]) <= .05 || progressArray[i] === "NaN_undefined_NaN")
                {
                    progressArray[i] = 0;
                }
                else if (Number(progressArray[i].split("_")[2]) >= .95)
                {
                    progressArray[i] = 1;
                }
                else
                {
                    progressArray[i] = Number(progressArray[i].split("_")[2]);
                }
            }
            
            // generates sidenav
            if (titles)
            {
                const titlesLength = titles.length;

                if (document.querySelectorAll('.select-video').length <= titlesLength)
                {
                    let sideNav =
                    `<div style="display: flex; flex-direction: row; flex-wrap: nowrap; background-color: white;">
                        <div style="font-size: 14px; width: 70%; color: black; padding-left: 15px;" class="d-flex justify-content-center align-items-center select-video">
                            Module ${module.split("-")[1]} - ${moduleTitle}
                        </div>
                        <div class="d-flex justify-content-center" style="width: 30%; color: #3d3d3d;">
                            ${titlesLength} Lessons
                        </div>
                    </div>`;

                    for (let i = 0; i < titlesLength; i++)
                    {
                        sideNav +=
                        `<a class="d-flex select-video ps-3" onclick="postState(); window.location.href='./course?module=${module.split("-")[0]}-${module.split("-")[1]}-${i + 1}'">
                            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; width: 100%;">
                                <div style="width: 45px">${titles[i].split(" - ")[0].split(".")[1]}</div>
                                <div><img src="../assets/images/${module.split("-")[0]}-${module.split("-")[1]}-${i + 1}.png" alt="lesson thumbnail" style="width: 120px; height: auto;" /></div>
                                <div class="titleFlex" style="width: 100%; padding-left: 15px; display: flex; flex-direction: column; justify-content: space-between;">
                                    <div>${titles[i].split(" - ")[1]}</div>
                                    <div><progress class="progress-bar" max="1" value="${progressArray[i]}"></progress></div>
                                </div>
                                <div style="width: 24px;" class="check-container">
                                    
                                </div>
                            </div>
                        </a>`;
                    }
                    document.getElementsByClassName("sidebarColumn")[0].innerHTML = sideNav
                }
            }
        }

        // styling including image, title, and link for next lesson, active lesson on sidenav, copy
        function pageStyling(titles, copy)
        {
            const URLSection = Number(module.split('-')[2]);

            if (titles)
            {
                let titlesLength = titles.length;
                let nextLesson = "";
                let previousLesson = "";
                let nextModuleTitle = "";

                // Styling next lesson, previous lesson buttons

                // last lesson of module
                if (URLSection === titlesLength)
                {
                    let index = Number(allVidArray.indexOf(module));

                    // last lesson of entire course
                    if (allVidArray.length === index + 1)
                    {
                        nextLesson = "#";
                        nextModuleTitle = "Course complete!";
                        previousLesson = `${module.split('-')[0]}-${module.split('-')[1]}-${URLSection - 1}`;
                        document.getElementById('nextLessonImage').style.display = "none";
                        document.getElementById('cover-next-lesson-image').style.display = "none";
                    }
                    else if (allVidArray.length > index + 1)
                    {
                        nextLesson = allVidArray[Number(index) + 1];
                        nextModuleTitle = "Next Module";
                        previousLesson = `${module.split('-')[0]}-${module.split('-')[1]}-${URLSection - 1}`;
                        document.getElementById('nextLessonImage').src = `../assets/images/${nextLesson}.png`;
                        document.getElementById('cover-next-lesson-image').src = `../assets/images/${nextLesson}.png`;
                    }
                    else {}
                }
                // first lesson of module
                else if (URLSection === 1)
                {
                    let index = Number(allVidArray.indexOf(module));
                    
                    // first lesson of entire course
                    if (index === 0)
                    {
                        nextLesson = `${module.split('-')[0]}-${module.split('-')[1]}-${URLSection + 1}`;
                        previousLesson = "#";
                        nextModuleTitle = titles[URLSection];
                    }
                    else if (index > 0)
                    {
                        nextLesson = `${module.split('-')[0]}-${module.split('-')[1]}-${URLSection + 1}`;
                        previousLesson = allVidArray[Number(index) - 1];
                        nextModuleTitle = titles[URLSection];
                    }
                    else {}
                    document.getElementById('nextLessonImage').src = `../assets/images/${module.split('-')[0]}-${module.split('-')[1]}-${URLSection + 1}.png`;
                    document.getElementById('cover-next-lesson-image').src = `../assets/images/${module.split('-')[0]}-${module.split('-')[1]}-${URLSection + 1}.png`;
                }
                // not first or last lesson of module
                else
                {
                    nextLesson = `${module.split('-')[0]}-${module.split('-')[1]}-${URLSection + 1}`;
                    previousLesson = `${module.split('-')[0]}-${module.split('-')[1]}-${URLSection - 1}`;
                    nextModuleTitle = titles[URLSection];
                    document.getElementById('nextLessonImage').src = `../assets/images/${module.split('-')[0]}-${module.split('-')[1]}-${URLSection + 1}.png`;
                    document.getElementById('cover-next-lesson-image').src = `../assets/images/${module.split('-')[0]}-${module.split('-')[1]}-${URLSection + 1}.png`;
                }

                if (nextLesson === "#")
                {
                    document.getElementById('nextLessonLink').href = '#';
                    document.getElementById('next-button').href = '#';
                    document.getElementById('next-button').parentNode.parentNode.style.background = "gray";
                    document.getElementById("video-ended-next").addEventListener("click", function(){location.href = '#'});
                }
                else
                {
                    document.getElementById('nextLessonLink').addEventListener('click', function(){postState(); location.href = `./course?module=${nextLesson}`;});
                    document.getElementById('next-button').addEventListener('click', function(){postState(); location.href = `./course?module=${nextLesson}`;});
                    document.getElementById("video-ended-next").addEventListener("click", function(){postState(); location.href = `./course?module=${nextLesson}`});
                }

                if (previousLesson === "#")
                {
                    document.getElementById('back-button').href = '#';
                    document.getElementById('back-button').parentNode.parentNode.style.background = "gray";
                }
                else
                {
                    document.getElementById('back-button').addEventListener('click', function(){postState(); location.href = `./course?module=${previousLesson}`;});
                }

                let videoDescription = copy[Number(module.split('-')[2]) - 1];


                document.getElementById('currentLessonTitle').innerText = titles[URLSection - 1];
                document.getElementById('lesson-of').innerHTML = `Lesson ${URLSection} of ${titlesLength}`;
                document.getElementById('copy').innerHTML = videoDescription;
                document.getElementById('nextLessonTitle').innerText = nextModuleTitle;

                // styles sidenav of current lesson
                for (let i = 0; i < titlesLength; i++)
                {
                    if (i === URLSection - 1)
                    {
                        document.getElementsByClassName('select-video')[URLSection].style.background = '#f7f6f2';
                        document.getElementsByClassName('select-video')[URLSection].style.color = 'black';
                    }
                    // progress bar and check box sidenav styling
                    if (Number(document.getElementsByClassName("progress-bar")[i].value) === 0)
                    {
                        document.getElementsByClassName("progress-bar")[i].style.display = "none";
                    }
                    else if (Number(document.getElementsByClassName("progress-bar")[i].value) >= .95)
                    {
                        document.getElementsByClassName("progress-bar")[i].style.display = "none";
                        document.getElementsByClassName("check-container")[i].innerHTML = 
                        '<i class="fa-solid fa-check" style="padding-right: 8px; color: green;"></i>';                        
                    }
                    else {}
                }
                seeIfLiked();

                // generates resources
                let currentTrack = Number(module.split('-')[0]);
                let trackResource;

                switch(currentTrack)
                {
                    case 1:
                        trackResource = "Track_1_Workbook.pdf";
                        break;
                    case 2:
                        trackResource = "Track_2_Workbook.pdf";
                        break;
                    default:
                        trackResource = "Track_3_Workbook.pdf";
                }

                const resourcesLength = returnObject.resources.length;

                let resourcesHTML =
                `<a id="download1" href="../assets/resources/${trackResource}" target="_blank" style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start;">
                    <div><i class="fa-regular fa-file-pdf" style="color: #e23002; font-size: 1.2rem;"></i></div>
                    <div style="margin-left:6px;">${returnObject.resources[Number(module.split('-')[2]) - 1].split(';')[0]}</div>
                </a>`;
                
                if (returnObject.resources[Number(module.split('-')[2]) - 1].includes(';'))
                {
                    const resourceArray = returnObject.resources[Number(module.split('-')[2]) - 1].split(';');

                    for (let i = 1; i < resourceArray.length; i++)
                    {
                        if (resourceArray[i].includes('--')) // this splits the link the title is 0 and the link is 1
                        {
                            resourcesHTML +=
                            `<a id="download${i}" href="${resourceArray[i].split('--')[1]}"
                            target="_blank" style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start;">
                                <div><i class="fa-regular fa-file-pdf" style="color: #e23002; font-size: 1.2rem;"></i></div>
                                <div style="margin-left:6px;">${resourceArray[i].split('--')[0]}</div>
                            </a>`;
                        }
                        else
                        {
                            resourcesHTML +=
                            `<a id="download${i}" href="../assets/resources/${resourceArray[i].replaceAll(' ', '_')}.pdf"
                            target="_blank" style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start;">
                                <div><i class="fa-regular fa-file-pdf" style="color: #e23002; font-size: 1.2rem;"></i></div>
                                <div style="margin-left:6px;">${resourceArray[i]}</div>
                            </a>`;
                        }
                    }
                }
                document.getElementById("resourceList").innerHTML = resourcesHTML;
            }
        }

        // posts the video's current time, and duration when the user leaves page
        // TODO: add error handling for player.playerInfo.currentTime as sometimes the playerInfo variables changes (on YouTube API side)
        // it changed from player.playerInfo to player.v and then back for some reason
        function postState(event)
        {
            const currentTime = Math.floor(player.playerInfo.currentTime);
            const duration = player.playerInfo.duration;

            $.ajax({
                type: "patch",
                url: "/video-state:videoState",
                async: false,
                data: {
                    'currentTime': currentTime,
                    'videoDuration': duration,
                    'URLData': module
                },
                success: function (data)
                {}
            });
        }
        // when leaving the page runs postState function
        //this will work only for Chrome
        $(window).on('beforeunload', function ()
        {
            postState();
        });
        //this will work for other browsers
        $(window).on("unload", function ()
        {
            postState();
        });

        function seeIfLiked()
        {
            const likedList = document.getElementsByClassName('likedVideoList')[0].value.split(',');

            if (likedList.includes(module))
            {
                isLiked = true;
                document.getElementById('isLiked').style.display = 'block';
                document.getElementById('notLiked').style.display = 'none';
            }
        }

        function likeLesson()
        {
            $.ajax({
                type: "patch",
                url: "/favorites:liked",
                async: false,
                data: {
                    'likedVid': module,
                    'isLiked': isLiked
                },
                success: function (data)
                {
                    if (isLiked)
                    {
                        document.getElementById('notLiked').style.display = 'block';
                        document.getElementById('isLiked').style.display = 'none';
                    }
                    else
                    {
                        document.getElementById('notLiked').style.display = 'none';
                        document.getElementById('isLiked').style.display = 'block';
                    }
                },
                error: function(err)
                {
                    console.log(error)
                }
            });
        }

    </script>

</body>
</html>


