<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track 3</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/creatorPassportIcon.ico">
    <link rel="stylesheet" href="assets/CSS/track.css">
    <link rel="stylesheet" href="https://use.typekit.net/djz3fym.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <input id="_3_1" class="resumeVideo" style="display: none;" value="<%= _3_1 %>" />
        <input id="_3_2" class="resumeVideo" style="display: none;" value="<%= _3_2 %>" />
        <input id="_3_3" class="resumeVideo" style="display: none;" value="<%= _3_3 %>" />
        <input id="_3_4" class="resumeVideo" style="display: none;" value="<%= _3_4 %>" />
        <input id="_3_5" class="resumeVideo" style="display: none;" value="<%= _3_5 %>" />
        <input id="_3_6" class="resumeVideo" style="display: none;" value="<%= _3_6 %>" />
        <input id="_3_7" class="resumeVideo" style="display: none;" value="<%= _3_7 %>" />
        <input id="_3_8" class="resumeVideo" style="display: none;" value="<%= _3_8 %>" />
        <input id="_3_9" class="resumeVideo" style="display: none;" value="<%= _3_9 %>" />
        <input id="_3_10" class="resumeVideo" style="display: none;" value="<%= _3_10 %>" />
    </div>

    <!--topnav-->
    <div id="topNavWrapper">
        <!--loaded from backend-->
    </div>

    <div style="display: flex; justify-content: center;">
        <div class="track-container">
            <h1 style="text-align: center; padding-top: 100px;" class="font-title">The 6-Figure Fast Track</h1>
            <div style="padding-top: 20px;">
                <div style="font-size: 18px;">
                    Learn how to pitch like a pro, master the art of negotiation, navigate taxes and legal as a creator, and how to set the foundations of a strong social media business.
                </div>
            </div>

            <div style="flex-basis: 100%; text-align: center; display: flex; flex-direction: row; padding-top: 30px;">
                <div style="font-size: 16px;">Course Progress <span id="progress-percentage">(0%)</span></div>
                <div style="margin-left: 15px; width: calc(100% - 170px);"><progress id="progress-bar" max="100" value="70"></progress></div>
            </div>

            <div class="track3" style="padding-top: 50px;">

                <div style="width: 90%; margin-bottom: 50px; margin-left: auto; margin-right: auto;">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" style="background-color: #FFFFFF; font-weight: 700 !important;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Frequently Asked Questions
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                     
                                    <div style="font-weight: 700;">I need to create my own contract for a collaboration/ paid job, where do I start?</div>
                                    <div style="margin-bottom: 15px;">We would recommend going to RocketLawer or TheLegalPaige! Go check out Track 3, module 3 for our other recommendations! If you have any other contracts from previous collabs, that could be a good starting point!</div>

                                    <div style="font-weight: 700;">Is there a benefit for registering as affiliates for a specific website/company (like get your guide) with travel payouts vs. just registering with the company directly from the website? Is it the same? Just curious!</div>
                                    <div style="margin-bottom: 15px;">It really depends! We go with the one that has the highest payout, and that is the easiest to use! if we have to constantly go from brand to brand, it gets annoying compared to having it all under one platform.</div>

                                    <div style="font-weight: 700;">In the Track 3 Workbook, there is a section for example rates when G&S were at 500K and 600K IG followers. Do you mind sharing more examples from when you had (much) fewer followers for us beginners?! (like maybe 10K, 50K, and/or 100K)</div>
                                    <div style="margin-bottom: 15px;">Great question! There are a lot of things that come into play here! If you watch Track 3, Module 2, it will explain 99.9% of this!  But here is a very easy explanation! 
                                    Rule of thumb is $10 for every 1,000 followers. So if you have 10,000 followers, you could charge $100 to start. 50,000 you could charge $500 to start, and 100,000 followers you could charge $1,000. 
                                    That being said, we typically 3x that to start so we can negotiate. So Lana if you have 3,500 followers, I would start at $125 to start for a 1 photo post, $200 for a Carousel, and $400 for 1 Reel, but once again that is just a start. This does not include usage, exclusivity, whitelisting, paid usage, etc. </div>
                                    
                                    <div style="font-weight: 700;">Is $100-$300 per UGC video standard?</div>
                                    <div style="margin-bottom: 15px;">Unfortunately, yeah, that's pretty standard for beginners. People that don't come from the influencer side of things first have deflated the value of video licensing.</div>

                                    <div style="font-weight: 700;">Are media events something you get paid to go to? Or not necessarily. I got invited to one, but waiting to hear back what the expectations from me would be outside of showing up.</div>
                                    <div style="margin-bottom: 15px;">Most of them are to just go and meet other creators and potentially have you post on Social media! Typically, they don’t pay!</div>

                                    <div style="font-weight: 700;">What is a pitch deck?</div>
                                    <div style="margin-bottom: 15px;">Pitch Deck usually encompasses the same info as your media kit but ALSO integrates a concept idea in there as well! Don’t send rates! Usually the biggest difference is the presentation of information, usually in a slide deck instead.</div>

                                    <div style="font-weight: 700;">I have been approached by TEMU to create a reel. They want to boost the reel per 30 day, which is whitelisting (connecting through my account). I would appreciate any advice</div>
                                    <div style="margin-bottom: 15px;">It’s probably a scam!! Just be careful! I’d avoid responding and moving forward.</div>

                                    <div style="font-weight: 700;">Question about the Amazon Affiliate Program - is it okay to set it up with your personal Amazon account (i.e., your individual name with your personal email), or do you need to set it up with a different Amazon account with your business email?</div>
                                    <div style="margin-bottom: 15px;">Set it up however you’re planning on doing your taxes. So if you’re declaring this as company income, set it up under the company’s name. If you’re a sole proprietor, then you’d set it up with your name</div>

                                    <div style="font-weight: 700;">When it comes to gifting - Lets say I receive a gift from a brand and want to share it on my story, what tax implications are there.</div>
                                    <div style="margin-bottom: 15px;">Gifting: “For example, you may not be expected to declare the value of your gifts if they don’t exceed the hundred-dollar mark. Similarly, influencers don’t pay tax on gifts sent if there is no contractual obligation.”
                                    More info here: https://zenstrategies.net/tax-on-gifts-influencers/ </div>

                                    <div style="font-weight: 700;">A pretty big name clothing brand responded to our pitch and said they don’t have a budget at the moment but wanted to send us some free product for our upcoming trip if we were interested (with no posting requirements). Is there any harm to accepting the free product? </div>
                                    <div style="margin-bottom: 15px;">We accept them all the time, sign up for their affiliate, and if we really like it, we will do an organic story, tag them, link the affiliate and then come back to them in a month showing screenshots of story clicks if good, or just affiliate sales to show our audience is interested!</div>

                                    <div style="font-weight: 700;">We've had some contracts recently come through as just a PDF. What's your go-to way of signing these?</div>
                                    <div style="margin-bottom: 15px;">DocuSign or Panda Doc for us!</div>

                                    <div style="font-weight: 700;">When working with a tourism board - if you post additional content beyond the scope of the contract, should all the additional content also be marked as #ad?</div>
                                    <div style="margin-bottom: 15px;">If you’re incorporating things they paid for, I probably would to be safe or just say you partnered with them. Technically you need to disclose any prior partnership with them, but it’s hard when it comes to travel it's more complicated since you could go on your own accord.
                                    A luxury resort I stayed at in Costa Rica reposted my reel and caption and tagged me / invited me to collab. I never gave them permission to repost this one though and don’t want pages to post my work without my permission and getting paid so how do I handle this? 
                                    2 things you can do - simply ask them to take it down OR slap them with an invoice for taking your video:
                                    Hi there! 
                                    I’m flattered you like my content! However, I do charge for licensing. If you’re interested please email XYZ for more details. 
                                    If not, please take the video down as you did not obtain commercial copyright permissions to post it.
                                    Thank you so much and looking forward to hearing from you. 
                                    Best,
                                    XYZ 
                                    Then, if they don’t respond, and they don’t take it down, you copyright strike them. <br />
                                    If you want to go the ask for an invoice already route then you wouldn’t use the script obviously but you would say something similar along the lines of what’s the best email to send an invoice to?</div>
                                    
                                    <div style="font-weight: 700;">I just tried to sign up for the Amazon Influencer program and LTK, but both said I didn't meet the requirements - what should I be looking to improve to get accepted into these?</div>
                                    <div style="margin-bottom: 15px;">Join Amazon Associates first instead of Amazon Influencer! Typically, they look for 1k followers, but you can also ask them and see if they will give you exactly what they are looking for.</div>

                                    <div style="font-weight: 700;">Can we retroactively pitch UGC for trips we've been on if we get some great content? I've seen some creators talk about this. Like some reels or licensing of images or anything?</div>
                                    <div style="margin-bottom: 15px;">You can definitely pitch content after the trip if you have already created it. In our experience, we haven’t received much post trip, but always worth the shot!</div>

                                    <div style="font-weight: 700;">What is the opinion on commission affiliate marketing links? We've been counter-offered by a brand to reduce the up front payment "but we will provide you a link" that earns 10% commission on each sale.</div>
                                    <div style="margin-bottom: 15px;">Brands negotiate for this to try and get people to undercut themselves! Don’t take it to replace your fee, instead it should be your fee, AND you get additional for affiliate. If a brand ever says “we don’t have budget” it means they don’t think you will be worth it, so signing up for their affiliate, getting sales, and then showing the brand you brought in sales is a great way to start to work with biggest budgets!</div>

                                    <div style="font-weight: 700;">We are based in the UK but our focus is international travel. We are a little concerned we are going to have problems pitching for brand deals because of our location, or do you think it would still be ok even though we are UK based?</div>
                                    <div style="margin-bottom: 15px;">Tons of our friends get deals while living in the UK and Europe! Don’t think it should be a problem! Just need to find the right brands to work with!</div>

                                    <div style="font-weight: 700;">Any tips on getting a UGC portfolio when you’re first starting? Do you just make videos with things you have around the house? Or buy items from brands you’d like to work with?</div>
                                    <div style="margin-bottom: 15px;">Yes make "Fake Ads" for brands that you would already use and love in your niche.</div>

                                    <div style="font-weight: 700;">When working with a tourism board for blog content is that typically for their blog or creating blogs on your own website in partnership with them?</div>
                                    <div style="margin-bottom: 15px;">We have done both equally as many times!</div>

                                    <div style="font-weight: 700;">When do you use the term 'sponsored post' in terms of a brand collaboration, does this refer to when a brand pays you to make content and post a reel on your page, collaborating with them? Or does it refer to a post that a brand has put money behind on their page where it then appears on people's feed with the label 'sponsored post', or is this classed as an ad?</div>
                                    <div style="margin-bottom: 15px;">Sponsored post is anytime you are getting paid to post something online. Whitelisting is when a brand is putting money behind the post!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="track-cards-container">

                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 1</h5></div>
                                    <div class="completed_3_1"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    Building Multiple Streams of Income
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-1-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_1" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-1-1">1.1 - Intro to the Six Figure Fast Track</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-1-2">1.2 - Intro to Making This a FULL TIME Job vs. a Side Hustle</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-1-3">1.3 - How to Make Money WITHOUT Followers (UGC Content Creation & Professional Product Photos/Videos)</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-1-4">1.4 - Sponsored Posts</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-1-5">1.5 - Affiliate Marketing</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-1-6">1.6 - Content Licensing</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-1-7">1.7 - Group Trips</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-1-8">1.8 - Creator Funds</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-1-9">1.9 - Launching Your Own Digital Products</a></div></li>
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 2</h5></div>
                                    <div class="completed_3_2"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    Pricing 101
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-2-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_2" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-2-1">2.1 - Should You Take Free Work?</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-2-2">2.2 - Pricing Creative Fees</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-2-3">2.3 - Pricing Influencer Fees</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-2-4">2.4 - Pricing Licensing & Usage Fees</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-2-5">2.5 - Packaging & Upselling Your Services</a></div></li>
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 3</h5></div>
                                    <div class="completed_3_3"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    Contracts
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-3-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_3" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-3-1">3.1 - The Importance of Having a Contract</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-3-2">3.2 - Clauses to Make Sure Your Contract Includes</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-3-3">3.3 - Contract Red Flags & How to Fix Them</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-3-4">3.4 - Legal Resources for Influencers</a></div></li>
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 4</h5></div>
                                    <div class="completed_3_4"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    Collaborating with Brands
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-4-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_4" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-4-1">4.1 - Things You Need Before You Start Working With Brands</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-4-2">4.2 - Building an Example Media Kit</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-4-3">4.3 - Building an Example Portfolio</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-4-4">4.4 - Crafting a Personalized and Targeted Pitch</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-4-5">4.5 - Common Pitching Mistakes Creators are Making</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-4-6">4.6 - The Basics of Negotiating</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-4-7">4.7 - Turn Free/Exchange into Paid Collabs</a></div></li>
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 5</h5></div>
                                    <div class="completed_3_5"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    Sponsored Post Workflow
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-5-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_5" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-5-1">5.1 - Finding the Correct Contacts</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-5-2">5.2 - Pitching & Follow-Up Schedule</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-5-3">5.3 - Concepting & Creative Briefs</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-5-4">5.4 - Executing and Delivering Brand Collaborations</a></div></li>
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 6</h5></div>
                                    <div class="completed_3_6"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    Collaborating With Tourism Boards & Hotels
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-6-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_6" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-6-1">6.1 - Tourism Board Starter Pack: Basics & Pitching</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-6-2">6.2 - Expectations of Working with Tourism Boards</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-6-3">6.3 - Pitching Hotels & Expectations</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-6-4">6.4 - Shooting Best Practices for Properties</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-6-5">6.5 - What’s a FAM/PR/Press Trip vs. a Partnership?</a></div></li>                                            
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 7</h5></div>
                                    <div class="completed_3_7"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    How to Be The Gold Star Creator
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-7-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_7" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-7-1">7.1 - The Importance of Professional Communication</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-7-2">7.2 - Campaign Reports (ROI & KPIs)</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-7-3">7.3 - What to do if your Campaign doesn't Perform Well</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-7-4">7.4 - Scheduling & Organizing Ads & Remaining True to Your Sponsored Content</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-7-5">7.5 - Successful & Unsuccessful Sponsored Post Examples</a></div></li>
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 8</h5></div>
                                    <div class="completed_3_8"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    Business Admin and Task Management
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-8-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_8" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-8-1">8.1 - Managing Your Social Media Business</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-8-2">8.2 - Scaling Your Social Media Business</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-8-3">8.3 - Outsourcing & Automated Systems</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-8-4">8.4 - Pros and Cons of Hiring a manager</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-8-5">8.5 - 1099s vs. Full-Time Employees</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-8-6">8.6 - Payment Methods</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-8-7">8.7 - Entrepreneurial Mindset</a></div></li>
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 9</h5></div>
                                    <div class="completed_3_9"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    Business Structures in the USA
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-9-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_9" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-9-1">9.1 - LLCs & Business Structures</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-9-2">9.2 - How to Set Up an LLC Easily</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-9-3">9.3 - Business Bank Accounts & Credit Cards (EINs & CCs)</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-9-4">9.4 - Invoicing & Payment Softwares</a></div></li>
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="max-width: 345px; max-height: 560px; background: #f7f6f2; border-radius: 12px; margin-bottom: 20px; margin-left: 15px; margin-right: 15px;">
                        <div style="padding: 15px;">
                            <div style="height: 310px; margin-bottom: 15px;">
                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                    <div><h5>Module 10</h5></div>
                                    <div class="completed_3_10"></div>
                                </div>
                                <h3 style="height: 100px;">
                                    Taxes & Legal as a Creator
                                </h3>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="../assets/images/3-10-1.png" style="width: 300px; height: auto;" />
                                </div>
                            </div>
                            <div>
                                <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap;">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sublessons
                                        </button>
                                        <ul class="dropdown-menu _3_10" style="width: 300px;">
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-10-1">10.1 - What is Copyright</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-10-2">10.2 - A Brand Takes Your Content Without Your Permission</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-10-3">10.3 - FTC Disclosures and Advertising Guidelines</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-10-4">10.4 -  Do You Need a Permit?</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-10-5">10.5 - Do You Need Insurance?</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-10-6">10.6 - The Importance of Royalty Free Music</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-10-7">10.7 - Self Employment Tax Responsibilities and Paying Quarterly</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-10-8">10.8 - Bookkeeping and Receipts</a></div></li>
                                            <li style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;"><div><a class="dropdown-item" style="padding-right: 7px;" href="/course?module=3-10-9">10.9 - Things You Need When Electing as an S Corp</a></div></li>
                                        </ul>
                                    </div>
                                    <div class="continueBtn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
    <div style="position: relative; bottom: 0; display: flex; flex-direction: row; justify-content: center; width: 100%;">
        <div><a href="./terms-and-conditions" style="color: black;">Terms and Conditions</a></div>
    </div>

</body>

<script type="text/javascript" src="assets/JS/topnav.js"></script>

<script type="text/javascript">    
    topNav('track-3');

    document.title = "Track 3";

    let allModArray = ["_3_1","_3_2","_3_3","_3_4","_3_5","_3_6","_3_7","_3_8","_3_9","_3_10"];
    let modIndex = 0;


    const allModLength = allModArray.length;
    let totalViewed = 0;
    let allVidLength = 0;

    
    for (let i = 0; i < allModLength; i++)
    {
        // each module
        let modArray = document.getElementById(allModArray[i]).value.split(",");
        let modArrayLength = modArray.length;
        let moduleElement = document.getElementsByClassName(allModArray[i])[0];
        let completeCount = 0;
        let lastViewed = 0;

        // adds checks and how much was viewed for each module
        for (let j = 0; j < modArrayLength; j++)
        {
            allVidLength ++;
            // each lesson
            if(modArray[j].split("_")[2] !== '' && modArray[j].split("_")[2] > 0)
            {
                let node = document.createElement("div");

                if(Number(modArray[j].split("_")[2]) >= .95)
                {
                    node.innerHTML = 
                    `<div style="display: flex; flex-direction: column; justify-content: center; height: 100%;">
                        <i class="fa-solid fa-check" style="padding-right: 15px; color: green;"></i>
                    </div>`;

                    moduleElement.getElementsByTagName('li')[j].appendChild(node);
                    totalViewed += 1;
                    completeCount +=1;
                }
                else
                {
                    totalViewed += Number(modArray[j].split("_")[2]);
                    lastViewed = j;
                }   
            }
        }

        // adds 'continue' button to last lesson started
        if (completeCount > 0  && completeCount < modArrayLength)
        {
            let btn = document.createElement("div");
            const buttonToClick = document.getElementsByClassName(allModArray[i])[0].getElementsByTagName('li')[lastViewed].firstChild.firstChild;
            btn.innerHTML = `<button class="btn" type="button" onclick="location.href = '${buttonToClick}';" style="background: #dda15e; color: #FFFFFF;">Continue</button>`;
            document.getElementsByClassName('continueBtn')[i].appendChild(btn);
        }
        // adds 'complete' icon to completed modules
        else if (completeCount === modArrayLength)
        {
            let completed = document.createElement("div");
            completed.innerHTML = 'Completed! <i class="fa-regular fa-circle-check" style="color: green; font-size: 1.4rem; font-weight: 600;"></i>'
            document.getElementsByClassName(`completed${allModArray[i]}`)[0].appendChild(completed);
        }
    }

    // progress bar
    function progressBar()
	{
        const percentageCompleted = Math.round((totalViewed/allVidLength) * 100);
        document.getElementById('progress-bar').value = totalViewed;
        document.getElementById('progress-bar').max = allVidLength;
        console.log("Total Viewed: " + totalViewed);
        console.log("All Vid Length: " + allVidLength);
        console.log("Percentage Completed: " + percentageCompleted);

        document.getElementById('progress-percentage').innerText = "(" + percentageCompleted + "%)"
	}
	progressBar();


</script>

</html>